<!DOCTYPE html>
<html lang="zh-CN">
  <%- partial('_partial/head-team') %>

<body class="bg-slate-50 text-slate-800 antialiased flex  flex-col min-h-screen">

  <%- partial('_partial/header-team') %>
	
	<!-- 核心内容区域，必须保留 -->
    
   <%- page.content %>
   
	
	<%- partial('_partial/footer-team') %>
	

</body>
</html>